.hand-button {
  width:100px;
  height:100px;
  flex-grow: 1;
  margin:5px;
}

.hand-button > i { 
  font-size: 90px;
  color: #d3d3d3;
}

.hand-button > i:hover { 
  color: white;
}

.hand-button > i.active {
  color: white;
}

.fa-hand-scissors {
  transform: rotate(90deg);
}