.App {
  text-align: center;
  height: 500px;
  width: 400px;
  background-color: #4890E2;
  margin: auto;
}

.App > .row {
  display: block;
}

h2,
h1,
h3,
h4 {
  color: #F0F0F0;
  margin: 0;
  padding: 0;
  height: 25px;
}

.App > hr {
  width: 70%;
}

.row > button {
  color: black;
  background-color: #F4A522;
  border: 0px;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}